<p-table [value]="hospitals()" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-hospital>
    <tr>
      <td>{{ hospital.id }}</td>
      <td>{{ hospital.name }}</td>
      <td>{{ hospital.address }}</td>
      <td>{{ hospital.createdAt | date:'short' }}</td>
      <td>{{ hospital.updatedAt | date:'short' }}</td>
      <td>
        <div class="actions">
          <p-button variant="outlined" severity="warn" icon="pi pi-pencil"
            (click)="showEditDialog(hospital.id)"></p-button>
          <p-button variant="outlined" severity="danger" icon="pi pi-trash"
            (click)="confirmDelete($event, hospital.id)"></p-button>

        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-button icon="pi pi-plus" (click)="showAddDialog()"></p-button>
<p-confirmpopup />
<p-toast />


<p-dialog header="Add Hospital" [modal]="true" [(visible)]="addVisible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">Add a Hospital</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="name" class="font-semibold w-24">Name: </label>
    <input pInputText id="name" class="flex-auto" autocomplete="off" [(ngModel)]="newHospital().name" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Address: </label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" [(ngModel)]="newHospital().address" />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="addVisible.set(false)" />
    <p-button label="Save" (click)="add()" />
  </div>
</p-dialog>

<p-dialog header="Edit Hospital" [modal]="true" [(visible)]="editVisible" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">ID: {{ currentEdit().id }}</span>
  <div class="flex items-center gap-4 mb-4">
    <label for="username" class="font-semibold w-24">Name: </label>
    <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="currentEdit().name" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Address: </label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" [(ngModel)]="currentEdit().address" />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="editVisible.set(false)" />
    <p-button label="Save" (click)="edit()" />
  </div>
</p-dialog>
